__pycache__/
.idea/shelf/
.idea/workspace.xml
.idea/Final Project.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
classes/output5 old.json
classes/output5.json
classes/iug_input1 old.json
input1 v2.json
README.md
test2.py